@{
    ViewBag.Title = "Search Page";
}
<div class="row">
    @using (@Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "w-100", role = "form" }))
    {
        <form>
            <div class="row">
                <div class="col-xl-11 col-lg-10 col-md-10 col-sm-12">
                    <input autofocus name="request" type="text" class="form-control" id="search" aria-describedby="search" placeholder="Search...">
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    }
</div>
<div class="row">
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            belchip.by
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            chip-dip.ru
        </label>
    </div>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <label for="inputfile">
            <img src="https://avatars1.githubusercontent.com/u/17966263?s=460&v=4" alt="Photo" />
        </label>
        <input accept="image/*" type="file" id="inputfile" style="display: none" />
    </div>
    <div class="col-xl-9 col-lg-9 col-md-6 col-sm-12">
        @Session["Request"]
    </div>
</div>




